@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor</title>
    <link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
</head>

<body class="m-1 p-1">
    This is the List View
    @Html.Partial("MyPartial")
    2
    @Html.Partial("MyPartial")
    3
    @Html.Partial("MyStronglyTypedPartial", new string[] { "Apple", "Orange", "Pear" })
</body>

</html>