@model string
@{ Layout = null;   }


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Routing</title>
    <link rel="stylesheet"asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>
<body class="m-1 p-1 ">
    <h1 >GetLegacyURL</h1>
    The URL requested was:@Model  
</body>
</html>
